services:
  db:
    image: postgres:15
    container_name: transfer-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password123!
      POSTGRES_DB: transfer_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: